.idea/
models/
*.chw
support/SAP2000_20.0.0/CSI_OAPI_Documentation_2023_extracted/
support/SAP2000_25.3.1/CSI_OAPI_Documentation_2024_extracted/
support/SAP2000_26.3.2/CSI_OAPI_Documentation_2025_extracted/
CSI_OAPI_Index.md
CSI_OAPI_Viewer.html